<nav aria-label="breadcrumb">
  <ul>
    <li>
      Home
    </li>
  </ul>
</nav>

<article>
  <header>
    All boards
  </header>
  <ul>
    <% @list_of_boards.each do |a_board| %>
      <li>
        <a href="/boards/<%= a_board.id %>">
          <%= a_board.name %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<article>
  <header>
    Add a new board
  </header>

  <form action="/insert_board" method="post">
    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name">
    </div>

    <button type="submit">
      Create board
    </button>
  </form>
</article>
